.footer{
    background-color: #000;
    width: 100vw;
    bottom: 0px;
}
.footer-text{
    margin: 0px;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    color: #fff
}
@media all and (max-width:768px) {
    .footer-text{
        font-size: 3vw;
    }
}